<div>
    <!-- 로그인 입력창 -->
    <div class="col-md-6 m-auto">
        <div class="card card-body mt-2">
            <div class="form-group">
                <label for="password">비밀번호</label>
                <!-- 입력란 -->
                <input type="password" id="password" name="password" class="form-control mt-2"
                    placeholder="비밀번호를 입력해주세요" />
            </div>
            <!-- 로그인 버튼 -->
            <button class="btn btn-primary mt-2" onclick="login()">로그인</button>
        </div>
    </div>
</div>
<script>
    // 로그인 함수
    async function login(){
        let pass = document.getElementById('password').value;
        let login = await fetch('/login', {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            // url-encoded 형태로 변환
            body: `password=${encodeURIComponent(pass)}`
        });

        if (login.status == 200) {
            //로그인 성공
            alert('로그인 성공');
            location.href = '/';
        } else {
            alert('로그인 실패');
        }
    }
</script>